# Assignment 4

## 1.Using the same Dmart file, calculate the weekly returns for the entire year 

2.Populate a table of returns with week number of month(1,2,3,4,5) and month name        

Please note:
1.Week starts from Monday
2. Use while loop to loop through the dataframe and not any form of groupby, directly or indirectly
3. You buy at the open of the first day of the week and sell at the close of the last day of week
4. If the end of month falls on Wednesday, you exit your position on Wednesday close. New week of the new month starts from Thursday

In [1]:
import pandas as pd
import numpy as np
import calendar
import datetime
from dateutil import parser

import warnings
warnings.filterwarnings('ignore')

In [2]:
#Please change the path of the file as per your pc after r'
path = r'C:\Users\admin\Desktop\Sakshi\6. Python\Assignment 4\Dmart.csv'

##### Dmart file = df

In [3]:
df = pd.read_csv(path)

In [4]:
#converted date/time column to date/time format

df['Date'] = np.nan

for i in range (0,len(df['Date/Time'])):
    date_string = df['Date/Time'][i]
    date_object = parser.parse(date_string)
    df['Date'][i] = date_object

In [5]:
#Adding a day column, month column, week number column
df['Day'] = np.nan
df['Month'] = np.nan
df['Week Number'] = np.nan

 
for i in range (0,len(df['Date/Time'])):
    df['Day'][i] = (df['Date'][i]).strftime("%A")
    df['Month'][i] = (df['Date'][i]).strftime("%m")
    df['Week Number'][i] = (df['Date'][i]).strftime("%W")  
#display(df)

In [6]:
#adjusting month to another cell
i = 0
while i < len(df['Date/Time']):
    for i in range (0,len(df['Date/Time'])):
        if i == len(df)-1:
            df.loc[i,'NewLocation'] = df.loc[i,'Month']
        else:
            df.loc[i,'NewLocation'] = df.loc[i+1,'Month']
        i += 1

In [7]:
#finding month end
i = 0
while i < len(df['Date/Time']):
    for i in range (0,len(df['Date/Time'])):
        if df.loc[i,'Month'] == df.loc[i,'NewLocation']:
            df.loc[i,'MonthCheck'] = 0
        else:
            df.loc[i,'MonthCheck'] = 1
        i += 1
#display(df)

In [8]:
#to see day of month end
i = 0
while i < len(df['Date/Time']):
    for i in range (0,len(df)):
        if df.loc[i,'MonthCheck'] == 1:
            df.loc[i,'MonthEndDay'] = df.loc[i,'Day']
        else:
            df.loc[i,'MonthEndDay'] = 0
        i += 1

In [9]:
#Open Logic
#to determine the open count
i = 0
while i < len(df['Date/Time']):
    for i in range (0,len(df['Date/Time'])):
        if i == 0:
            df.loc[i,'OpenCount'] = 1
        elif i == len(df)-1:
            df.loc[i,'OpenCount'] = 0
        elif df.loc[i,'Week Number'] != df.loc[i-1,'Week Number']:
            df.loc[i,'OpenCount'] = 1
        elif df.loc[i-1,'MonthCheck'] == 1:
            df.loc[i,'OpenCount'] = 1
        else:
            df.loc[i,'OpenCount'] = 0
        i += 1

In [10]:
#to determine the close count
i = 0
while i < len(df):
    for i in range (0,len(df)):
        if i == len(df)-1:
            df.loc[i,'CloseCount'] = 1
        elif i == 0:
            df.loc[i,'CloseCount'] = 0
        elif df.loc[i+1,'OpenCount'] == 1:
            df.loc[i,'CloseCount'] = 1
        else:
            df.loc[i,'CloseCount'] = 0
        i += 1    
#display(df)

In [11]:
#fetching the buy and sell price
i = 0
while i < len(df):
    for i in range (0,len(df['Date/Time'])):
        if df.loc[i,'OpenCount'] != 0:
            df.loc[i,'BuyPrice'] = df.loc[i,'Open']
        else:
            df.loc[i,'BuyPrice'] = 0
        i += 1

j = 0
while j < len(df):
    for j in range (0,len(df['Date/Time'])):
        if df.loc[j,'CloseCount'] != 0:
            df.loc[j,'SellPrice'] = df.loc[j,'Close']
        else:
            df.loc[j,'SellPrice'] = 0
        j += 1

In [12]:
BuyData = pd.DataFrame({
    'Month': [],
    'Buy':[],})

i = 0
while i < len(df):
    for i in range (0,len(df)):
        if df.loc[i,'BuyPrice'] != 0:
            BuyData.loc[i,'Buy'] = df.loc[i,'BuyPrice']
            BuyData.loc[i,'Month'] = df.loc[i,'Month']
            
        i+=1
        
BuyData.reset_index(inplace = True,drop = True)

In [13]:
SellData = pd.DataFrame({
    'Sell':[]})

i = 0
while i < len(df):
    for i in range (0,len(df)):
        if df.loc[i,'SellPrice'] != 0:
            SellData.loc[i,'Sell'] = df.loc[i,'SellPrice']
        i+=1
        
SellData.reset_index(inplace = True,drop = True)

In [14]:
Returns = pd.merge(BuyData,SellData,left_index = True,right_index = True)

In [15]:
Returns['ROC'] = ((Returns['Sell']/Returns['Buy'])-1)*100

In [16]:
Table1 = pd.DataFrame({'January':[]})

i = 0
while i < len(Returns):
    for i in range (0,len(Returns)):
        if Returns.loc[i,'Month'] == '01':
            Table1.loc[i,'January'] = Returns.loc[i,'ROC']
        i+=1   

Table1.reset_index(inplace = True,drop = True)

In [17]:
Table2 = pd.DataFrame({'February':[]})

i = 0
while i < len(Returns):
    for i in range (0,len(Returns)):
        if Returns.loc[i,'Month'] == '02':
            Table2.loc[i,'February'] = Returns.loc[i,'ROC']
        i+=1   

Table2.reset_index(inplace = True,drop = True)

In [18]:
Table3 = pd.DataFrame({'March':[]})

i = 0
while i < len(Returns):
    for i in range (0,len(Returns)):
        if Returns.loc[i,'Month'] == '03':
            Table3.loc[i,'March'] = Returns.loc[i,'ROC']
        i+=1   

Table3.reset_index(inplace = True,drop = True)

In [19]:
Table4 = pd.DataFrame({'April':[]})

i = 0
while i < len(Returns):
    for i in range (0,len(Returns)):
        if Returns.loc[i,'Month'] == '04':
            Table4.loc[i,'April'] = Returns.loc[i,'ROC']
        i+=1   

Table4.reset_index(inplace = True,drop = True)

In [20]:
Table5 = pd.DataFrame({'May':[]})

i = 0
while i < len(Returns):
    for i in range (0,len(Returns)):
        if Returns.loc[i,'Month'] == '05':
            Table5.loc[i,'May'] = Returns.loc[i,'ROC']
        i+=1   

Table5.reset_index(inplace = True,drop = True)

In [21]:
Table6 = pd.DataFrame({'June':[]})

i = 0
while i < len(Returns):
    for i in range (0,len(Returns)):
        if Returns.loc[i,'Month'] == '06':
            Table6.loc[i,'June'] = Returns.loc[i,'ROC']
        i+=1   

Table6.reset_index(inplace = True,drop = True)

In [22]:
Table7 = pd.DataFrame({'July':[]})

i = 0
while i < len(Returns):
    for i in range (0,len(Returns)):
        if Returns.loc[i,'Month'] == '07':
            Table7.loc[i,'July'] = Returns.loc[i,'ROC']
        i+=1   

Table7.reset_index(inplace = True,drop = True)

In [23]:
Table8 = pd.DataFrame({'August':[]})

i = 0
while i < len(Returns):
    for i in range (0,len(Returns)):
        if Returns.loc[i,'Month'] == '08':
            Table8.loc[i,'August'] = Returns.loc[i,'ROC']
        i+=1   

Table8.reset_index(inplace = True,drop = True)

In [24]:
Table9 = pd.DataFrame({'September':[]})

i = 0
while i < len(Returns):
    for i in range (0,len(Returns)):
        if Returns.loc[i,'Month'] == '09':
            Table9.loc[i,'September'] = Returns.loc[i,'ROC']
        i+=1   

Table9.reset_index(inplace = True,drop = True)

In [25]:
Table10 = pd.DataFrame({'October':[]})

i = 0
while i < len(Returns):
    for i in range (0,len(Returns)):
        if Returns.loc[i,'Month'] == '10':
            Table10.loc[i,'October'] = Returns.loc[i,'ROC']
        i+=1   

Table10.reset_index(inplace = True,drop = True)

In [26]:
Table11 = pd.DataFrame({'November':[]})

i = 0
while i < len(Returns):
    for i in range (0,len(Returns)):
        if Returns.loc[i,'Month'] == '11':
            Table11.loc[i,'November'] = Returns.loc[i,'ROC']
        i+=1   

Table11.reset_index(inplace = True,drop = True)

In [27]:
Table12 = pd.DataFrame({'December':[]})

i = 0
while i < len(Returns):
    for i in range (0,len(Returns)):
        if Returns.loc[i,'Month'] == '12':
            Table12.loc[i,'December'] = Returns.loc[i,'ROC']
        i+=1   

Table12.reset_index(inplace = True,drop = True)

In [28]:
H0 = pd.DataFrame({'Weeks':['Week1','Week2','Week3','Week4','Week5']})

In [29]:
Output = H0.join([Table1,Table2,Table3,Table4,Table5,Table6,Table7,Table8,Table9,Table10,Table11,Table12])
display(Output)

,Weeks,January,February,March,April,May,June,July,August,September,October,November,December
0,Week1,-0.332486,-2.261792,-3.976445,-6.810189,-2.389404,7.710875,-1.498925,3.369266,0.331996,-1.140271,2.437500,4.802575
1,Week2,2.733990,9.750480,-3.844394,14.475384,2.359649,-4.849206,1.162892,1.851852,-1.350220,-6.172051,2.953102,9.959458
2,Week3,3.405195,5.296870,-4.000601,-4.650862,2.798971,-0.415086,-9.968100,3.596974,-4.486667,-4.237452,0.355917,-2.871087
3,Week4,-2.570000,4.593332,14.250398,3.612189,-2.977768,-3.026205,2.601141,2.178462,-3.324138,7.490922,-3.045191,1.062382
4,Week5,9.686456,-5.098416,5.183440,3.636957,NaN,0.991545,0.951566,-2.072730,4.370174,5.655660,NaN,2.890970

# Presenting all the displays below

In [30]:
display(df)

,Ticker,Date/Time,Open,Low,High,Close,Date,Day,Month,Week Number,NewLocation,MonthCheck,MonthEndDay,OpenCount,CloseCount,BuyPrice,SellPrice
0,DMART.EQ-NSE,1/1/20,1849.70,1820.00,1867.00,1828.50,2020-01-01 00:00:00,Wednesday,01,00,01,0.0,0.0,1.0,0.0,1849.70,0.00
1,DMART.EQ-NSE,1/2/20,1831.00,1815.00,1854.85,1824.20,2020-01-02 00:00:00,Thursday,01,00,01,0.0,0.0,0.0,0.0,0.00,0.00
2,DMART.EQ-NSE,1/3/20,1827.00,1827.00,1853.00,1843.55,2020-01-03 00:00:00,Friday,01,00,01,0.0,0.0,0.0,1.0,0.00,1843.55
3,DMART.EQ-NSE,1/6/20,1827.00,1780.00,1829.00,1789.90,2020-01-06 00:00:00,Monday,01,01,01,0.0,0.0,1.0,0.0,1827.00,0.00
4,DMART.EQ-NSE,1/7/20,1805.00,1805.00,1837.50,1815.75,2020-01-07 00:00:00,Tuesday,01,01,01,0.0,0.0,0.0,0.0,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,DMART.EQ-NSE,12/24/2020,2661.85,2604.80,2700.00,2673.10,2020-12-24 00:00:00,Thursday,12,51,12,0.0,0,0.0,1.0,0.00,2673.10
248,DMART.EQ-NSE,12/28/2020,2685.95,2655.00,2698.95,2678.00,2020-12-28 00:00:00,Monday,12,52,12,0.0,0,1.0,0.0,2685.95,0.00
249,DMART.EQ-NSE,12/29/2020,2690.00,2645.00,2694.70,2665.70,2020-12-29 00:00:00,Tuesday,12,52,12,0.0,0,0.0,0.0,0.00,0.00
250,DMART.EQ-NSE,12/30/2020,2666.20,2642.35,2725.00,2680.30,2020-12-30 00:00:00,Wednesday,12,52,12,0.0,0,0.0,0.0,0.00,0.00
251,DMART.EQ-NSE,12/31/2020,2691.00,2670.00,2780.00,2763.60,2020-12-31 00:00:00,Thursday,12,52,12,0.0,0,0.0,1.0,0.00,2763.60

In [31]:
display(Returns)

   Month      Buy     Sell        ROC
0     01  1849.70  1843.55  -0.332486
1     01  1827.00  1876.95   2.733990
2     01  1925.00  1990.55   3.405195
3     01  2000.00  1948.60  -2.570000
4     01  1945.50  2133.95   9.686456
5     02  2120.00  2072.05  -2.261792
6     02  2084.00  2287.20   9.750480
7     02  2287.20  2408.35   5.296870
8     02  2354.50  2462.65   4.593332
9     02  2448.80  2323.95  -5.098416
10    03  2335.00  2242.15  -3.976445
11    03  2185.00  2101.00  -3.844394
12    03  1995.95  1916.10  -4.000601
13    03  1820.30  2079.70  14.250398
14    03  2079.70  2187.50   5.183440
15    04  2218.00  2066.95  -6.810189
16    04  2090.10  2392.65  14.475384
17    04  2320.00  2212.10  -4.650862
18    04  2229.95  2310.50   3.612189
19    04  2300.00  2383.65   3.636957
20    05  2310.20  2255.00  -2.389404
21    05  2280.00  2333.80   2.359649
22    05  2333.00  2398.30   2.798971
23    05  2339.00  2269.35  -2.977768
24    06  2320.10  2499.00   7.710875
25    06  2520.00  2397.80  -4.849206
26    06  2373.00  2363.15  -0.415086
27    06  2366.00  2294.40  -3.026205
28    06  2294.40  2317.15   0.991545
29    07  2325.00  2290.15  -1.498925
30    07  2296.00  2322.70   1.162892
31    07  2210.05  1989.75  -9.968100
32    07  1979.90  2031.40   2.601141
33    07  2044.00  2063.45   0.951566
34    08  2068.70  2138.40   3.369266
35    08  2138.40  2178.00   1.851852
36    08  2181.00  2259.45   3.596974
37    08  2269.95  2319.40   2.178462
38    08  2298.90  2251.25  -2.072730
39    09  2244.00  2251.45   0.331996
40    09  2270.00  2239.35  -1.350220
41    09  2250.00  2149.05  -4.486667
42    09  2175.00  2102.70  -3.324138
43    09  2110.90  2203.15   4.370174
44    10  2210.00  2184.80  -1.140271
45    10  2192.95  2057.60  -6.172051
46    10  2072.00  1984.20  -4.237452
47    10  1969.05  2116.55   7.490922
48    10  2120.00  2239.90   5.655660
49    11  2240.00  2294.60   2.437500
50    11  2306.05  2374.15   2.953102
51    11  2374.15  2382.60   0.355917
52    11  2361.10  2289.20  -3.045191
53    12  2330.00  2441.90   4.802575
54    12  2441.90  2685.10   9.959458
55    12  2715.00  2637.05  -2.871087
56    12  2645.00  2673.10   1.062382
57    12  2685.95  2763.60   2.890970

In [32]:
display(Output)

,Weeks,January,February,March,April,May,June,July,August,September,October,November,December
0,Week1,-0.332486,-2.261792,-3.976445,-6.810189,-2.389404,7.710875,-1.498925,3.369266,0.331996,-1.140271,2.437500,4.802575
1,Week2,2.733990,9.750480,-3.844394,14.475384,2.359649,-4.849206,1.162892,1.851852,-1.350220,-6.172051,2.953102,9.959458
2,Week3,3.405195,5.296870,-4.000601,-4.650862,2.798971,-0.415086,-9.968100,3.596974,-4.486667,-4.237452,0.355917,-2.871087
3,Week4,-2.570000,4.593332,14.250398,3.612189,-2.977768,-3.026205,2.601141,2.178462,-3.324138,7.490922,-3.045191,1.062382
4,Week5,9.686456,-5.098416,5.183440,3.636957,NaN,0.991545,0.951566,-2.072730,4.370174,5.655660,NaN,2.890970

In [33]:
df.to_csv('DmartOutput.csv')
Returns.to_csv('ReturnsOutput.csv')
Output.to_csv('FinalRequiredOutput.csv')